@import url('//fonts.googleapis.com/css?family=Oswald');
@import url('//fonts.googleapis.com/css?family=Merriweather');
@import url('//fonts.googleapis.com/css?family=Playfair Display');
                    
h1{
  font-family: 'Playfair Display';
  font-size:30px;
  line-height: 0.72;
  color: #084421;
}

.title {
  background:#ffffff;  
}

h2 {
  font-family: 'Oswald';
  color:#084421;
  font-size:24px;
}

h3 {
  font-family: 'Oswald';
  color:#084421;
  line-height: 1.5;
  font-size:18px;
}

h5 {
  font-family: 'Oswald';
  color:#ffffff;
  font-size:16px;
}

.filterbar {
  padding-right:30px; 
  padding-left:5px;
}

.filterbox {
  background:#084421;
}

.subtitle {
  padding:15px;  
}

.explaination {
  padding:15px; 
  font-family:'Playfair Display';
}

.name {
  font-family:'Playfair Display';
  font-size:11px;
}

.totaltourist {
  font-size:20px;
  background:#ffffff;
}

.box-title {
  font-family:'Oswald';
  color:#084421;
  font-size:20px;
}

/* body */
.content-wrapper, .right-side {
  background-color:#CADEDF;
}